<!DOCTYPE html>
<html>
<head>
  <title>Display Bookings</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  {% include 'Modules/css.html' %}
  {% include 'Modules/js.html' %}
  
</head>
<body>
  <div class="container" >
    {% include 'Modules/navbarlogged.html' %}
</div>
  <div class="container" >
    <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Restaurant Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for item in bookings %}
      <tr>
        <td>{{item.restaurant.name}}</td>
        <td>{{item.restaurant.location}}</td>
        <td>{{item.date}}</td>
        <td>{{ item.time }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>

<!-- AIzaSyBuCmbMEyBhm1J7CgKiJBKMK8SjKNyfJjg -->